<div class="layout-row top-20">
	<div class="flex-45">
		<div class="layout-column basic-component">
			<div class="flex-10 text-box">
				<div class=tittle>
					<p>
					HISTORIA
					</p>
					<hr>
				</div>
				<br>
				<p id="primerParrafo">
					Corría el año 1957, y la provincia de La Pampa estaba en una etapa pujante. En General Pico comenzaba a dar sus primeros pasos en la actividad comercial Julio Pechín en sociedad con el Sr. Emilio Viola, en calle 15 entre 16 y 14. Allí comenzaron construyendo cabinas para tractores.
				</p>
				<br>
				<p id="segundoParrafo">
					En el año 1958 Don Julio se independizó y se estableció en calle 19 entre Avenida y 16, empleando 5 personas y abasteciendo a La Pampa y al centro de la provincia de Buenos Aires. 
				</p>
				<br>
				<p id="segundoParrafo">
					Allá por 1959 se trasladó a su propio local situado en calle 24 N° 1123 comenzando además a fabricar tranqueras, mangas para ganado vacuno, carrocerías para camiones y acoplados de madera y metálicos. Tiempo después se incorpora la venta de varillas de madera para alambrados y se amplía el local. En los ’70 comienza a comercializar postes y alambres ACINDAR.
				</p>
				<br>
				<p id="segundoParrafo">
					En 1980 su hijo Julio Javier incursiona en la empresa mientras cursaba su carrera de Ingeniería. Siempre buscando nuevos horizontes, en 1990 se incorpora la venta de chapas, hierros, mallas para la construcción y perfiles. 
					Entonces se les une Sergio, el otro hijo de Don Julio, que deja su profesión de ingeniero para dedicarse de lleno a la actividad comercial. En esos tiempos comienza a gestarse la empresa de transportes en la que actualmente se apoya la distribución de los productos.
				</p>
				<br>
				<p id="segundoParrafo">
					Viendo que las instalaciones de calle 24 resultaban insuficientes, se puso en marcha el proyecto de obra donde funciona la empresa hoy en día. Es un predio de 15000 m2 con más de 3000 m2 edificados con el objeto de brindarle más beneficios a sus clientes. 
				</p>
				<br>
				<p id="segundoParrafo">
					Debemos reconocer que el éxito ha estado tanto en el esfuerzo personal de Don Julio Pechín como en el de su esposa para brindarle la educación necesaria a sus hijos.
				</p>
			</div>
		</div>	
</div>
<div class="flex-35 text-box">
			<div class="layout-column tittle basic-component">

				<div class="flex card">
					<div class="layout-column">
						<div class="flex-10 card-img"> 
							<img src="/img/institucional/historia/historia_foto1.png" alt="foto1" class="imagenHistoria" width="95%">	
						</div>
						<div class="flex-10 card-img"> 
							<img src="/img/institucional/historia/historia_foto2.png" alt="foto2" class="imagenHistoria" width="95%">	
						</div>
						<div class="flex-10 card-img"> 
							<img src="/img/institucional/historia/historia_foto3.png" alt="foto3" class="imagenHistoria" width="95%">	
						</div>
					</div>	
				</div>	

			</div>
		</div>
	<div class="flex-20 side-menu" ng-controller="menuController">
		<div class="tittle">
			<p>
				MENÚ
			</p>
			<hr style="width: 95%">
		</div>
		<div class="top-10">
			<ul>
    			<li ng-repeat="link in menuLinks"><a href="#" ng-click="openPDF(link.src)" return false;">{{link.text}}</a></li>
			</ul>
    	</div>
    	<div class="tittle">
		<hr style="width: 95%">
		</div>
		<div class="top-10">
			<ul>
				<li ng-repeat="link in menuDownloadLinks"><a href="link.src">{{link.text}}</a></li>
			</ul>
		</div>
	</div>
</div>