<div class="layout-row top-20"> 
	<div class="flex-80">
		<div class="layout-row"> 
			<div class="flex">
				<div class="layout-column mision-component">
					<div class="flex-25 bg-grey w-85">
					<img src="/img/institucional/mision/mision.png" alt="" height="100%" width="100%">
					</div>
					<div class="flex-75 bg-grey w-85">
						<p>Ser una empresa especializada en la comercialización de productos de rubro siderúrgico y producción de productos para la Industria, manteniendo fuerte presencia en el mercado; generando una organización rentable, estable, con un fuerte compromiso con sus recursos humanos y una búsqueda constante en la creación de valor para sus clientes.</p>
					</div>
				</div>	
			</div>
			<div class="flex">
				<div class="layout-column mision-component">
					<div class="flex-25 bg-grey w-85">
					<img src="/img/institucional/mision/vision.png" alt="" height="100%" width="100%">
					</div>
					<div class="flex-75 bg-grey w-85">
						<p>Ser reconocidos como una empresa líder en el mercado manteniendo presencia sostenida y focalizada en este, superando las expectativas de nuestros clientes como así también desarrollando relaciones sostenidas con nuestros proveedores y contribuyendo a la realización personal y profesional de nuestros recursos humanos.</p>
					</div>
				</div>
			</div>
			<div class="flex">
				<div class="layout-column mision-component">
					<div class="flex-25 bg-grey w-85">
					<img src="/img/institucional/mision/valores.png" alt="" height="100%" width="100%">
					</div>
					<div class="flex-75 bg-grey w-85">
						<p>Ser eficientes en los procesos, optimizando recursos con el foco en los resultados.
						Involucrarnos en los objetivos de la organización, actuando con ética y responsabilidad. 
						Priorizar la comunicación, base de nuestro trabajo en equipo.
						Basar nuestras relaciones en la confianza y el respeto mutuo.
						Promover un ambiente de aprendizaje e innovación.
						Cuidar de la seguridad y las condiciones de trabajo.
						Alimentar siempre nuestro compromiso con la comunidad.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="layout-row mision-bottom-img">
			<img src="/img/institucional/mision/imagen_abajo.png" alt="" height="100%" width="100%">
		</div>
	</div>
	<div class="flex-20 side-menu" ng-controller="menuController">
		<div class="tittle">
			<p>
				MENÚ
			</p>
			<hr style="width: 95%">
		</div>
		<div class="top-10">
			<ul>
    			<li ng-repeat="link in menuLinks"><a href="#" ng-click="openPDF(link.src)" return false;">{{link.text}}</a></li>
			</ul>
    	</div>
    	<div class="tittle">
		<hr style="width: 95%">
		</div>
		<div class="top-10">
			<ul>
				<li ng-repeat="link in menuDownloadLinks"><a href="link.src">{{link.text}}</a></li>
			</ul>
		</div>
	</div>
</div>


<div class="layout-row"> 

</div>