<div class="layout-row top-20">
	<div class="flex-45">
		<div class="layout-column basic-component">
			<div class="flex-10 text-box">
				<div class=tittle>
					<p>
					LA EMPRESA
					</p>
					<hr>
				</div>
				<br>
				<p id="primerParrafo">
					Forestal Pico es una empresa familiar dedicada a la distribución siderúrgica con más de 50 años de trayectoria y en continuo proceso de expansión. Con su sede central en General Pico, La Pampa, su sucursal en Tandil, Provincia de Buenos Aires, y su propio servicio de logística, logra abastecer una amplia región del centro-sur del país
				</p>
				<br>
				<p id="segundoParrafo">
					El respaldo de las más grandes marcas en el rubro, como Acindar, Ternium-Siderar y Tenaris, garantiza la calidad de todos sus productos, lo que se suma a su excelente servicio, calificado asesoramiento y cordial atención.
				</p>
				<br>
				<p id="segundoParrafo">
					Su vasto y permanente stock le permite cumplir con puntualidad la entrega de materiales con servicio puerta a puerta. Para ello, cuenta con una gran flota de vehículos con los que, además, cubre su logística en una gran zona que abarca desde el Sur de Córdoba hasta la provincia de Santa Cruz.  
				</p>
				<br>
				<p id="segundoParrafo">
					Su casa matriz situada en General Pico, La Pampa, está ubicada en dos predios de 35000 m2 y posee más de 15000 m2 cubiertos. Personal capacitado y maquinaria de última generación le ayudan a ofrecer cada vez más y mejores servicios a sus clientes.
				</p>
				<br>
				<p id="segundoParrafo">
					Una sucursal en la Ciudad de Tandil ayuda a agilizar la venta y entrega de materiales en la Provincia de Buenos Aires, en donde la demanda es cada vez mayor.
				</p>
				<br>
				<p id="segundoParrafo">
					Una planta de procesamiento de hierro en Neuquén dedicada al servicio computarizado de Corte y Doblado de Acero de Construcción, brinda una solución integral en obra, ayudando a reducir costos con garantía de máxima calidad.
				</p>
				<br>
				<p id="segundoParrafo">
					Forestal Pico es una empresa en constante crecimiento que ha servido al agro, a la industria y a la construcción por más de medio siglo, logrando mantener claro su objetivo, la satisfacción de sus clientes en primer lugar.
				</p>
			</div>
		</div>	
</div>
<div class="flex-35 text-box">
			<div class="layout-column tittle basic-component">

				<div class="flex card">
					<div class="layout-column">
						<div class="flex-10 card-img"> 
							<img src="/img/institucional/empresa/la_empresa_foto1.png" alt="foto1" width="95%">	
						</div>
						<div class="flex-10 card-img"> 
							<img src="/img/institucional/empresa/la_empresa_foto2.png" alt="foto2" width="95%">	
						</div>
						<div class="flex-10 card-img"> 
							<img src="/img/institucional/empresa/la_empresa_foto3.png" alt="foto3" width="95%">	
						</div>
					</div>	
				</div>	

			</div>
		</div>
	<div class="flex-20 side-menu" ng-controller="menuController">
		<div class="tittle">
			<p>
				MENÚ
			</p>
			<hr style="width: 95%">
		</div>
		<div class="top-10">
			<ul>
    			<li ng-repeat="link in menuLinks"><a href="#" ng-click="openPDF(link.src)" return false;">{{link.text}}</a></li>
			</ul>
    	</div>
    	<div class="tittle">
		<hr style="width: 95%">
		</div>
		<div class="top-10">
			<ul>
				<li ng-repeat="link in menuDownloadLinks"><a href="link.src">{{link.text}}</a></li>
			</ul>
		</div>
	</div>
</div>
