<div class="layout-row top-20">
	<div class="flex-80">
		<div class="layout-row basic-component">
			<div class="flex-60 text-box">
				<div class=tittle>
					<p>
					SERVICIOS
					</p>
					<hr>
				</div>
				<br>
				<p>
					Forestal Pico es una empresa que trabaja para brindarle mas y mejores servicios a sus clientes, ofreciendo soluciones junto a la calaidad garantizada de sus productos.
				</p>
				<br>
				<p>
					Atencion Personalizada y Asesoramiento Técnico Profesional a cargo de un plantel altamente calificado.
				</p>
				<br>
				<p>
					Maquinarias de última generación para realizar Planchado y Corte a medida de chapas lisas en calibres que van desde los 0,40 y hasta los 3,2 mm.
				</p>
				<br>
				<p>
					Su infraestructura le permite mantener un stock permanente, optimizando tiempos de entrega y minimizando desperdicios.
				</p>
			</div>
			<div class="flex-40">
				<img class="top-40" src="/img/servicios/generales/generales-servicios.png" alt="Armaduras del Neuquen" width="95%">
			</div>
		</div>
		<div class="layout-column tittle basic-component">
				<p>
					SERVICIOS ESPECIALES
				</p>
				<hr>
		</div>
		<div class="layout-row cards-component top-10">
			<br>
			<div class="flex card">
				<div class="layout-column">
					<div class="flex-70 card-img"> 
						<img src="/img/servicios/generales/imagen_armaduras.png" alt="Armaduras del Neuquen" width="95%">	
					</div>
					<div class="flex-30 card-text"> 
					<p>Armaduras del Neuquén es una empresa de Forestal Pico que, con el asesoramiento de la Oficina Técnica de Acindar, se dedica al corte y doblado de acero...</p>
					</div>
					<div class="layout-row more-link">
						<div class="flex-70">
							<hr>
						</div>
						<div class="flex-25">
							<p class="linkable">VER MÁS [+]</p>
						</div>
					</div>
				</div>	
			</div>
			<div class="flex card">
				<div class="layout-column">
					<div class="flex-70 card-img"> 
						<img src="/img/servicios/generales/imagen_forestrans.png" alt="Forestrans" width="95%">
					</div>
					<div class="flex-30 card-text"> 
					<p>Forestrans es la propia empresa de logística de Forestal Pico que, con una vasta flota de camiones, logra cubrir las entregas en una amplia zona...</p>
					</div>
					<div class="layout-row more-link">
						<div class="flex-70">
							<hr>
						</div>
						<div class="flex-25">
							<p class="linkable">VER MÁS [+]</p>
						</div>
					</div>
				</div>
			</div>
			<div class="flex card">
				<div class="layout-column">
					<div class="flex-70 card-img"> 
						<img src="/img/servicios/generales/imagen_div_ind.png" alt="División Industrial" width="95%">
					</div>
					<div class="flex-30 card-text"> 
					<p>Forestal Pico - División Industrial es una alianza estratégica con Acindar S.A. para la fabricación de bolas de molino por laminación, producto utilizado...</p>
					</div>
					<div class="layout-row more-link">
						<div class="flex-70">
							<hr>
						</div>
						<div class="flex-25">
							<p class="linkable">VER MÁS [+]</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="flex-20 side-menu" ng-controller="menuController">
		<div class="tittle">
			<p>
				MENÚ
			</p>
			<hr style="width: 95%">
		</div>
		<div class="top-10">
			<ul>
    			<li ng-repeat="link in menuLinks"><a href="#" ng-click="openPDF(link.src)" return false;">{{link.text}}</a></li>
			</ul>
    	</div>
    	<div class="tittle">
		<hr style="width: 95%">
		</div>
		<div class="top-10">
			<ul>
				<li ng-repeat="link in menuDownloadLinks"><a href="link.src">{{link.text}}</a></li>
			</ul>
		</div>
	</div>
</div>