<div class="layout-row top-20 armadura">
	<div class="flex-80">
		<div class="layout-row basic-component">
			<img src="/img/servicios/armaduras/armaduras_cabecera.png" alt="" width="100%">
		</div>
		<div class="layout-row basic-component top-30">
			<div class="flex-60">
				<div class="layout-column">
					<div class="flex-40 text-box width-95">  
						<p class="text-orange">Armaduras del Neuquén es una empresa de Forestal Pico que, con el asesoramiento de la Oficina Técnica de Acindar, se dedica al corte y doblado de acero, brindando una solución rápida y eficaz para resolver estructuras de Hormigón Armado en cualquier tipo de proyecto.</p><br>
						<p>Con maquinaria de última generación, nuestro sistema industrializado de Corte y Doblado de Acero de construcción, nos permite ofrecer el diseño exacto, en cantidad, espesor y tamaño requeridos, con un servicio de entregas a tiempo y en obras, según planillas y/o planos, de acuerdo con el cronograma de trabajo del cliente. Los díametros disponibles abarcan los 6,8·10·12·16·20·25·32 y 40 mm en Acero ACINDAR DN A-420®.</p><br>
						<p>Cada producto es individualizado e identificado con tarjetas de alta resistencia al manipuleo facilitando la identificación de las piezas durante su movimiento en la obra.</p>
						<p>Los beneficios del sistema industrializado son variados y se ven plasmados en diferentes aspectos de la obra:</p>
					</div>
					<div class="flex-60 armadura-list bot-20 top-10">
							<div class="layout-row"> 
								<div class="flex-10">
									<div class="orange-square"></div>
								</div>
								<div class="flex-90">
							  	<p><b>No hay merma de material</b><br>
							  	Elimine desperdicios y sobrantes de materiales.</p>
							  	</div>
						  	</div>
						  	
						  	<div class="layout-row"> 
								<div class="flex-10">
									<div class="orange-square"></div>
								</div>
								<div class="flex-90">
							  	<p><b>Calidad garantizada</b><br>
							  	Alta precisión y eliminación de errores gracias a maquinarias de última generación.</p>
							  	</div>
						  	</div>

						  	<div class="layout-row"> 
								<div class="flex-10">
									<div class="orange-square"></div>
								</div>
								<div class="flex-90">
							  	<p><b>Eliminación del acopio</b><br>
							  	Se programan entregas parciales para el momento exacto en que el material va a ser utilizado.</p>
							  	</div>
						  	</div>

						  	<div class="layout-row"> 
								<div class="flex-10">
									<div class="orange-square"></div>
								</div>
								<div class="flex-90">
							  	<p><b>Menor costo de producción</b><br>
							  	Reducción de tiempos y costos de mano de obra.</p>
							  	</div>
						  	</div>

						  	<div class="layout-row"> 
								<div class="flex-10">
									<div class="orange-square"></div>
								</div>
								<div class="flex-90">
							  	<p><b>Conocimiento de costos reales</b><br>
							  	Facilita la etapa de cotización.</p>
							  	</div>
						  	</div>

						  	<div class="layout-row"> 
								<div class="flex-10">
									<div class="orange-square"></div>
								</div>
								<div class="flex-90">
							  	<p><b>Control del ritmo de obra</b><br>
							  	Eliminación de la necesidad de proveer equipamientos y recursos necesarios.</p>
							  	</div>
						  	</div>

						  	<div class="layout-row"> 
								<div class="flex-10">
									<div class="orange-square"></div>
								</div>
								<div class="flex-90">
							  	<p><b>Limpieza y seguridad</b><br>
							  	Eliminación de riesgos asociados a la manipulación de acero.</p>
							  	</div>
						  	</div>
					</div>
				</div>
			</div>
			<div class="flex-40">
				<div class="layout-column">
					<div class="flex">
						<img src="/img/servicios/armaduras/armaduras_foto1.png" alt="" width="100%">
					</div>
					<div class="flex">
					    <img src="/img/servicios/armaduras/armaduras_foto2.png" alt="" width="100%">
					</div>
					<div class="flex">
					  	<img src="/img/servicios/armaduras/armaduras_foto3.png" alt="" width="100%">
					</div>
				</div>
			</div>
		</div>
		<div class="armaduras-bottom-img">
			<img src="/img/servicios/armaduras/formas_armaduras.png" alt="" height="100%" width="100%">
		</div>
	</div>
	<div class="flex-20 side-menu" ng-controller="menuController">
		<div class="tittle">
			<p>
				MENÚ
			</p>
			<hr style="width: 95%">
		</div>
		<div class="top-10">
			<ul>
    			<li ng-repeat="link in menuLinks"><a href="#" ng-click="openPDF(link.src)" return false;">{{link.text}}</a></li>
			</ul>
    	</div>
    	<div class="tittle">
		<hr style="width: 95%">
		</div>
		<div class="top-10">
			<ul>
				<li ng-repeat="link in menuDownloadLinks"><a href="link.src">{{link.text}}</a></li>
			</ul>
		</div>
	</div>
</div>